**
!Dockerfile
!pyproject.toml
!setup.py
!README.md
!LICENSE
!verl/
!verl/**
!configs/
!configs/**
!data/
!data/aime/
!data/aime/**
!scripts/
!scripts/**
!modal_launchers/
!modal_launchers/**
!docker/
!docker/requirements-easyppo.txt
!docker/Dockerfile.b200
!tests/
!tests/easyppo/
!tests/easyppo/**
**/__pycache__
**/*.pyc
